In [29]:
import requests
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from typing import List, Union, Dict
from calendar import monthrange

In [40]:
BASE_URL_KP_FINAL = 'https://kp.gfz-potsdam.de/app/json'

In [46]:
def get_month_data_kp(year: str, month: str) -> Union[str, Exception]:
    """
    year [str]: YYYYY
    month [str]: DD
    """
    start_day, end_day = monthrange(year=int(year), month=int(month))
    url = f"{BASE_URL_KP_FINAL}/?start={year}-{month}-{start_day}T00%3A00%3A00Z&end={year}-{month}-{end_day}T23%3A59%3A59Z&index=Kp&status=def"
    try:
        resp = requests.get(url=url)
        ans = resp.json()
        return ans
    except Exception as error:
        raise error

In [33]:
def clean_month_data_kp(raw_data: Dict[str, str]) -> Dict:
    trusted_data = {
        'datetime': pd.to_datetime(raw_data['datetime']),
        'Kp': pd.to_numeric(raw_data['Kp'])
    }
    return trusted_data

In [55]:
def generate_df(trusted_data: Dict) -> pd.DataFrame:
    """
    """

    processed_data = list()
    for i in range(0, len(trusted_data['Kp']), 8):
        processed_data.append({
            'date': trusted_data['datetime'][i].date(),
            '0': trusted_data['Kp'][i+0],
            # '1': round((0.75*trusted_data['Kp'][i+0] + 0.25*trusted_data['Kp'][i+1])/2, 4), #
            # '2': round((0.25*trusted_data['Kp'][i+0] + 0.75*trusted_data['Kp'][i+1])/2, 4), #
            '3': trusted_data['Kp'][i+1],
            # '4': round((0.75*trusted_data['Kp'][i+1] + 0.25*trusted_data['Kp'][i+2])/2, 4), #
            # '5': round((0.25*trusted_data['Kp'][i+1] + 0.75*trusted_data['Kp'][i+2])/2, 4), #
            '6': trusted_data['Kp'][i+2],
            # '7': round((0.75*trusted_data['Kp'][i+2] + 0.25*trusted_data['Kp'][i+3])/2, 4), #
            # '8': round((0.25*trusted_data['Kp'][i+2] + 0.75*trusted_data['Kp'][i+3])/2, 4), #
            '9': trusted_data['Kp'][i+3],
            # '10': round((0.75*trusted_data['Kp'][i+3] + 0.25*trusted_data['Kp'][i+4])/2, 4), #
            # '11': round((0.25*trusted_data['Kp'][i+3] + 0.75*trusted_data['Kp'][i+4])/2, 4), #
            '12': trusted_data['Kp'][i+4],
            # '13': round((0.75*trusted_data['Kp'][i+4] + 0.25*trusted_data['Kp'][i+5])/2, 4), #
            # '14': round((0.25*trusted_data['Kp'][i+4] + 0.75*trusted_data['Kp'][i+5])/2, 4), #
            '15': trusted_data['Kp'][i+5],
            # '16': round((0.75*trusted_data['Kp'][i+5] + 0.25*trusted_data['Kp'][i+6])/2, 4), #
            # '17': round((0.25*trusted_data['Kp'][i+5] + 0.75*trusted_data['Kp'][i+6])/2, 4), #
            '18': trusted_data['Kp'][i+6],
            # '19': round((0.75*trusted_data['Kp'][i+6] + 0.25*trusted_data['Kp'][i+7])/2, 4), #
            # '20': round((0.25*trusted_data['Kp'][i+6] + 0.75*trusted_data['Kp'][i+7])/2, 4), #
            '21': trusted_data['Kp'][i+7],
            # '22': trusted_data['Kp'][i+7], # *
            # '23': trusted_data['Kp'][i+7], # *
        })
    return pd.DataFrame(processed_data)

In [52]:
year = '2003'
month = '11'

month_data_kp = get_month_data_kp(year=year, month=month)
cleaned_data_kp = clean_month_data_kp(raw_data=month_data_kp)

In [56]:
df = generate_df(trusted_data=cleaned_data_kp)

In [57]:
df

          date      0      3      6      9     12     15     18     21
0   2003-11-05  1.667  0.000  1.333  1.000  0.667  1.333  2.333  3.333
1   2003-11-06  2.667  1.667  1.000  0.667  1.667  2.333  5.667  4.333
2   2003-11-07  3.333  2.667  1.667  2.333  1.000  1.667  1.333  1.333
3   2003-11-08  1.333  1.000  0.667  1.667  2.667  3.333  2.333  2.000
4   2003-11-09  2.667  3.000  3.667  3.667  5.667  4.000  5.000  3.333
5   2003-11-10  3.333  4.000  3.667  3.667  4.000  3.667  4.667  4.667
6   2003-11-11  5.667  5.333  6.000  5.667  5.333  5.667  5.333  4.667
7   2003-11-12  4.333  3.667  3.667  4.000  3.667  5.000  5.000  3.000
8   2003-11-13  3.667  4.000  5.000  5.333  6.000  5.000  6.000  5.333
9   2003-11-14  5.333  5.000  4.667  4.667  4.667  3.333  4.667  3.667
10  2003-11-15  3.000  4.000  6.000  4.667  5.000  5.333  4.333  4.000
11  2003-11-16  4.000  4.667  5.000  4.000  5.000  5.333  4.333  5.000
12  2003-11-17  4.667  5.000  4.333  4.667  4.667  5.333  4.333  4.000
13  2003-11-18  5.000  3.667  3.333  4.000  4.000  4.333  3.333  3.000
14  2003-11-19  2.333  2.333  3.000  2.333  3.000  3.000  3.000  1.333
15  2003-11-20  1.000  3.667  6.333  6.333  7.667  8.667  8.667  8.000
16  2003-11-21  6.667  6.000  6.000  3.667  2.000  3.000  2.667  2.667
17  2003-11-22  4.333  3.000  2.333  2.667  3.000  4.667  6.000  4.667
18  2003-11-23  3.667  5.000  3.667  2.667  3.333  2.333  4.000  3.667
19  2003-11-24  2.667  2.000  2.333  2.333  4.000  3.000  2.333  3.000
20  2003-11-25  3.333  3.333  3.000  2.667  3.000  3.333  2.333  2.333
21  2003-11-26  2.333  2.000  1.667  1.333  2.667  2.333  2.000  2.667
22  2003-11-27  2.000  2.333  1.333  1.667  1.000  0.667  1.667  1.333
23  2003-11-28  1.667  2.000  1.000  2.000  2.333  1.667  0.333  0.333
24  2003-11-29  2.333  2.000  1.667  1.667  1.333  1.333  0.667  2.000
25  2003-11-30  2.000  3.000  1.000  1.000  2.333  3.667  3.667  3.000